body{
    margin: 0;
}

.titulo-index{
    color: red;
    font-size: 30pt;
}

.listagem{
    text-decoration: none;
    font-size: 15pt;
    color: rgba(148, 94, 43, 0.479);
}

form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
 
}
label{
    font-size: 10pt;
    margin: 10px;
}

#frase{
    height: 90px;
}

#botao{
    width: 20%;
    background-color: rgb(148, 90, 43);
    font-weight: bold;
}

#botao:hover{
    background-color: rgba(243, 108, 55, 0.36);
    border: none;
    box-shadow: 5px 5px black;
}

input{
    height: 40px;
    margin: 5px;
    width: 35%;
}

.imagem{
    width: 22%;
    margin: 20px 20px 20px 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    background: orange

}

nav a{
    text-decoration: none;
    color: whitesmoke;
}