{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav>
    <a href="/">Home </a>
    <a href="/lista">lista</a>
    <a href="/cadastro">Cadastro</a>
    <a href="#">Login</a>
</nav>

<h1 class="titulo-index">Education is man's best weapon</h1>

<img src="{% static 'img/embratel_abre.jpg' %}" alt="">

<p>Education will always be the best weapon man has against the world!</p>
<p>Education, a fundamental right of all, permeates human development through teaching and learning, aiming to develop and enhance the intellectual capacity of the individual. It is a unique learning process associated with school, family and social backgrounds. It can therefore be formal or informal.</p>

{% endblock %}